apiVersion: v1
kind: Service
metadata:
  name: {{ include "hertzbeat.tsdb" . }}
  labels:
    {{- include "hertzbeat.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8428
      targetPort: 8428
      protocol: TCP
  selector:
    {{- include "hertzbeat.selectorLabels" . | nindent 4 }}
    component: tsdb
