<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<app-help-massage-show
  [help_massage_content]="'define.help' | i18n"
  [guild_link]="'define.help.link' | i18n"
  [module_name]="'menu.advanced.define'"
  [icon_name]="'code'"
></app-help-massage-show>

<nz-divider></nz-divider>

<nz-layout style="height: 100vh; overflow: hidden">
  <nz-sider nzTheme="light" style="height: 100%; overflow: hidden" [nzTrigger]="null">
    <nz-spin [nzSpinning]="menuLoading" style="height: 100%">
      <div style="display: flex; flex-direction: column; gap: 8px; margin: 8px">
        <nz-input-group nzSearch="true" nzPrefixIcon="search">
          <input
            nz-input
            type="text"
            nzSize="default"
            [placeholder]="'common.search' | i18n"
            (ngModelChange)="filterMenus($event)"
            [(ngModel)]="search"
          />
        </nz-input-group>
        <button *ngIf="currentApp != null" nzGhost nz-button nzType="primary" (click)="onNewMonitorDefine()">
          <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
          {{ 'define.new' | i18n }}
        </button>
      </div>
      <nz-divider></nz-divider>
      <ul style="flex: 1; overflow: hidden; overflow-y: auto" nz-menu nzMode="inline" nzInlineCollapsed="false">
        <li *ngFor="let menuItem of !!search ? appMenusArrByFilter : appMenusArr" nz-submenu [nzTitle]="renderCategoryName(menuItem[0])">
          <ul>
            <li nz-menu-item *ngFor="let app of menuItem[1]" [nzSelected]="app.selected" style="padding-left: 24px">
              <button
                *ngIf="app.hide == true || app.hide == undefined"
                nz-button
                nzSize="small"
                nz-tooltip
                [nz-tooltip]="'define.hide-true.tip' | i18n"
                nz-popconfirm
                [nzPopconfirmTitle]="'define.hide-true.confirm' | i18n"
                (nzOnConfirm)="updateAppTemplateConfig(app.value, !app.hide)"
                nzPopconfirmPlacement="bottom"
              >
                <i nz-icon nzType="eye-invisible" nzTheme="outline"></i>
              </button>
              <button
                *ngIf="app.hide == false"
                nz-button
                nzSize="small"
                nz-tooltip
                [nz-tooltip]="'define.hide-false.tip' | i18n"
                nz-popconfirm
                [nzPopconfirmTitle]="'define.hide-false.confirm' | i18n"
                (nzOnConfirm)="updateAppTemplateConfig(app.value, !app.hide)"
                nzPopconfirmPlacement="bottom"
              >
                <i nz-icon nzType="eye" nzTheme="outline"></i>
              </button>
              <button
                nz-button
                nzSize="small"
                routerLink="/setting/define"
                [queryParams]="{ app: app.value }"
                class="label"
                [title]="app.label"
              >
                {{ app.label }}
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </nz-spin>
  </nz-sider>
  <nz-content style="display: flex; flex-direction: column">
    <div style="margin: 8px 8px 4px 8px">
      <button nzGhost *ngIf="currentApp != null" nz-button nzType="primary" routerLink="/monitors" [queryParams]="{ app: currentApp }">
        <i nz-icon nzType="file-text" nzTheme="outline"></i>
        {{ 'app-' + currentApp + '.yml' }}
        <i nz-icon nzType="more" nzTheme="outline"></i>
      </button>
      <button *ngIf="code != originalCode" nz-button nzType="primary" [nzLoading]="saveLoading" (click)="onSaveAndApply()">
        <i nz-icon nzType="save" nzTheme="outline"></i>
        {{ 'define.save-apply' | i18n }}
      </button>
      <button *ngIf="false" nz-button nzType="primary" (click)="onDeleteDefineYml()">
        <i nz-icon nzType="up-circle" nzTheme="outline"></i>
        {{ 'define.enable' | i18n : { app: currentApp } }}
      </button>
      <button *ngIf="false" nz-button nzDanger nzType="primary" (click)="onDeleteDefineYml()">
        <i nz-icon nzType="down-circle" nzTheme="outline"></i>
        {{ 'define.disable' | i18n : { app: currentApp } }}
      </button>
      <button *ngIf="currentApp != null" nz-button nzDanger nzType="primary" (click)="onDeleteDefineYml()">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
        {{ 'define.delete' | i18n : { app: currentApp } }}
      </button>

      <nz-switch
        style="margin-right: 25px; float: right"
        [ngModel]="dark"
        (ngModelChange)="onDarkModeChange($event)"
        [nzUnCheckedChildren]="unchecked"
        [nzCheckedChildren]="checked"
      ></nz-switch>
      <ng-template #unchecked>
        <span nz-icon nzType="bulb"></span>
      </ng-template>
      <ng-template #checked>
        <span nz-icon nzType="poweroff"></span>
      </ng-template>
    </div>
    <div style="flex: 1; margin: 4px 8px 4px 4px">
      <nz-code-editor
        class="editor"
        [nzLoading]="loading"
        [nzOriginalText]="originalCode"
        [(ngModel)]="code"
        [nzEditorMode]="'diff'"
        [nzEditorOption]="{ language: 'yaml', theme: 'vs-dark', folding: true, automaticLayout: true }"
      ></nz-code-editor>
    </div>
  </nz-content>
</nz-layout>
