<article class="platform-drawer-callout-card" [class.is-empty]="empty">
  <div class="platform-drawer-callout-heading">
    <div class="platform-drawer-callout-copy">
      <div class="platform-drawer-callout-title">{{ title }}</div>
      <div class="platform-drawer-callout-subtitle" *ngIf="subtitle">{{ subtitle }}</div>
    </div>
    <ng-content select="[drawerCalloutActions]"></ng-content>
  </div>

  <div class="platform-drawer-callout-body" *ngIf="body">{{ body }}</div>
  <div class="platform-drawer-callout-detail" *ngIf="detail">{{ detail }}</div>

  <ng-content></ng-content>

  <div class="platform-drawer-callout-tags" *ngIf="contextTags.length > 0">
    <span class="platform-drawer-callout-tag" *ngFor="let item of contextTags">{{ item }}</span>
  </div>
</article>
