<section class="monitor-route-state-panel" [ngClass]="'monitor-route-state-panel--' + state">
  <ng-container *ngIf="state === 'loading'; else feedbackState">
    <div class="monitor-route-state-panel__copy">
      <div class="monitor-route-state-panel__title">{{ title }}</div>
      <div class="monitor-route-state-panel__description">{{ description }}</div>
    </div>
    <div class="monitor-route-state-panel__stage">
      <div class="monitor-route-state-panel__skeleton">
        <div class="monitor-route-state-panel__line monitor-route-state-panel__line--lg"></div>
        <div class="monitor-route-state-panel__line monitor-route-state-panel__line--md"></div>
        <div class="monitor-route-state-panel__grid">
          <div class="monitor-route-state-panel__tile" *ngFor="let _ of [0, 1, 2]"></div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #feedbackState>
    <div class="monitor-route-state-panel__copy">
      <div class="monitor-route-state-panel__title">{{ title }}</div>
      <div class="monitor-route-state-panel__description">{{ description }}</div>
    </div>
    <div class="monitor-route-state-panel__stage monitor-route-state-panel__stage--feedback">
      <button *ngIf="showRetry" nz-button nzType="primary" type="button" (click)="onRetry()">
        {{ retryLabel }}
      </button>
    </div>
  </ng-template>
</section>
