<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo.svg" alt="" />
        <span class="title">HertzBeat</span>
      </div>
      <div class="desc">TanCloud-易用友好的高性能监控云服务</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright" nzTheme="outline"></i>
      2021
      <a href="https://tancloud.cn" target="_blank">探云 tancloud.cn | </a>
      <a href="https://hertzbeat.com" target="_blank">赫兹跳动 hertzbeat.com</a>
    </global-footer>
  </div>
</div>
