<div class="platform-drawer-shell" [class.platform-drawer-shell--fullscreen]="fullscreen">
  <header class="platform-drawer-shell-header">
    <div class="platform-drawer-shell-heading">
      <div class="platform-drawer-shell-kicker" *ngIf="kicker">{{ kicker }}</div>
      <div class="platform-drawer-shell-title">{{ title }}</div>
      <div class="platform-drawer-shell-subtitle" *ngIf="subtitle">{{ subtitle }}</div>
      <ng-content select="[drawerHeaderMeta]"></ng-content>
    </div>

    <div class="platform-drawer-shell-header-actions">
      <ng-content select="[drawerHeaderActions]"></ng-content>
      <button nz-button nzType="text" type="button" class="platform-drawer-shell-close" (click)="close()">
        <i nz-icon nzType="close"></i>
      </button>
    </div>
  </header>

  <section class="platform-drawer-shell-summary" *ngIf="showSummary">
    <ng-content select="[drawerSummary]"></ng-content>
  </section>

  <section class="platform-drawer-shell-toolbar" *ngIf="showToolbar">
    <ng-content select="[drawerToolbar]"></ng-content>
  </section>

  <section class="platform-drawer-shell-content" [class.platform-drawer-shell-content--flush]="contentFlush">
    <ng-content select="[drawerContent]"></ng-content>
  </section>
</div>
