<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<ng-container *ngIf="card; else plainSurface">
  <nz-card
    class="monitor-history-workbench"
    style="height: 100%"
    nzHoverable
    [nzBordered]="true"
    [nzBodyStyle]="{ padding: '0' }"
    inViewport
    (inViewportAction)="handleViewportAction($event)"
  >
    <ng-container *ngTemplateOutlet="chartContent"></ng-container>
  </nz-card>
</ng-container>

<ng-template #plainSurface>
  <section class="monitor-history-workbench monitor-history-workbench--plain" inViewport (inViewportAction)="handleViewportAction($event)">
    <ng-container *ngTemplateOutlet="chartContent"></ng-container>
  </section>
</ng-template>

<ng-template #chartContent>
  <div class="monitor-history-workbench__header">
    <div class="monitor-history-workbench__identity">
      <div class="monitor-history-workbench__title">{{ metricTitle }}</div>
      <div *ngIf="unit" class="monitor-history-workbench__unit">{{ 'monitor.detail.chart.unit' | i18n }} {{ unit }}</div>
    </div>
    <nz-tag class="monitor-history-workbench__badge">{{ 'monitor.detail.chart.source.badge' | i18n }}</nz-tag>
  </div>
  <nz-spin [nzSpinning]="!isInViewport || !!loading" [nzTip]="loading">
    <div class="monitor-history-workbench__body">
      <div
        *ngIf="isInViewport && !loading"
        echarts
        class="monitor-history-workbench__chart"
        [options]="eChartOption"
        theme="default"
        [autoResize]="true"
        [loading]="!!loading"
        (chartInit)="onChartInit($event)"
      ></div>
      <div *ngIf="!isInViewport || !!loading" class="monitor-history-workbench__placeholder"></div>
    </div>
  </nz-spin>
</ng-template>
