.wrapper {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;

  .container {
    display: flex;
    gap: 8px;

  }

  .container:first-child {
    gap: 0px;
  }
}
