.cardList {
    margin: -0.35rem;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* align-items: flex-start; */
    width: 100%;
}

.cardItem {
    /* width: calc(33.33333% - .7rem); */
    margin: 0.35rem;
    background: var(--bodyBg);
    border-radius: 3px;
    color: var(--textColor);
    display: flex;
    box-shadow: 1px 1px 2px 0 rgb(0 0 0 / 6%);
    transition: all .4s;
    background-color: var(--wdio-dark-section-background-color);
}

.cardItemTextBody {
    flex: 1;
    /* display: inline-block; */
    /* float: right; */
    padding: 1rem 0;
}

.cardItem:hover img {
    box-shadow: 3px 2px 7px rgb(0 0 0 / 15%);
}

.name {
    margin: 0.2rem 0 0.3rem;
    padding: 0 1rem;
    transition: text-shadow .4s;
    text-align: center;
    font-weight: bolder;
}

.desc {
    font-size: .8rem;
    line-height: 1.1rem;
    opacity: .8;
    margin-bottom: 0.2rem;
    padding: 0 1rem;
    transition: text-shadow .4s;
    text-align: center;
}

.zoom {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 1rem 0 1rem 1rem;
    box-shadow: 3px 2px 5px rgb(0 0 0 / 8%);
    transition: all .4s;
}

.companyUsage {
    width: 100%;
}

.title {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}
