::ng-deep {

  .row {
    margin-top: 6px;

    .ruleset {
      border: 1px solid #CCC;
    }
  }

  .tree {
    list-style: none;
    margin: 4px 0 2px;
  }

  .tree:empty {
    margin: 0px;
  }

  .ruleset-invalid {
    border: none!important;

    .ruleset {
      border: 1px solid #ff4d4f !important;
    }

    >p {
      margin: 0!important;
      color: #ff4d4f !important;
    }
  }

  .ruleset {
    min-width: 400px;
    overflow-x: auto;
    padding: 6px 8px;
  }

  .rule {
    display: flex;
    gap: 10px;
    min-width: 300px;
    overflow-x: auto;
    padding: 6px 8px;
    border: 1px solid #CCC;

    .q-rule-content {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }

    .q-rule-actions {
      flex-shrink: 0;
    }
  }

  .actions {
    button {
      margin-right: 8px;
    }
  }

  .preview-expr-card {
    background-color: #f6f6f6;
    ::ng-deep .ant-card-body {
      padding: 12px;
    }
    pre {
      margin: 0;
      white-space: pre-wrap;
      word-wrap: break-word;
      color: #666;
    }
  }
}
