<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<app-help-message-show
  [help_message_content]="'alert.help.setting' | i18n"
  [guild_link]="'alert.help.center.setting' | i18n"
  [module_name]="'menu.alert.setting'"
  [icon_name]="'calculator'"
></app-help-message-show>

<nz-divider></nz-divider>

<app-toolbar>
  <ng-template #left>
    <button nz-button nzType="primary" (click)="sync()" nz-tooltip [nzTooltipTitle]="'common.refresh' | i18n">
      <i nz-icon nzType="sync" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="primary" (click)="onNewAlertDefine()">
      <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
      {{ 'alert.setting.new' | i18n }}
    </button>
    <button nz-button nzType="primary" nzDanger (click)="onDeleteAlertDefines()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      {{ 'alert.setting.delete' | i18n }}
    </button>

    <button nz-button nz-dropdown [nzDropdownMenu]="more_menu">
      <span nz-icon nzType="ellipsis"></span>
    </button>
    <nz-dropdown-menu #more_menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <button nz-button nzType="primary" (click)="onExportDefines()">
            <i nz-icon nzType="export" nzTheme="outline"></i>
            {{ 'alert.setting.export' | i18n }}
          </button>
        </li>
        <li nz-menu-item>
          <nz-upload nzAction="/alert/defines/import" [nzLimit]="1" [nzShowUploadList]="false" (nzChange)="onImportDefines($event)">
            <button nz-button nzType="primary">
              <i nz-icon nzType="import" nzTheme="outline"></i>
              {{ 'alert.setting.import' | i18n }}
            </button>
          </nz-upload>
        </li>
      </ul>
    </nz-dropdown-menu>
  </ng-template>
  <ng-template #right>
    <app-multi-func-input
      groupStyle="width: 250px;"
      [placeholder]="'alert.setting.search' | i18n"
      [(value)]="search"
      (valueChange)="loadAlertDefineTable()"
    />
  </ng-template>
</app-toolbar>

<nz-table
  #fixedTable
  [nzData]="defines"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzTotal]="total"
  nzFrontPagination="false"
  [nzLoading]="tableLoading"
  nzShowSizeChanger
  [nzShowTotal]="rangeTemplate"
  [nzPageSizeOptions]="[8, 15, 25]"
  (nzQueryParams)="onTablePageChange($event)"
  nzShowPagination="true"
  [nzScroll]="{ x: '1240px' }"
>
  <thead>
    <tr>
      <th nzAlign="center" nzLeft nzWidth="3%" [(nzChecked)]="checkedAll" (nzCheckedChange)="onAllChecked($event)"></th>
      <th nzAlign="center" nzWidth="16%">{{ 'alert.setting.name' | i18n }}</th>
      <th nzAlign="center" nzWidth="24%">{{ 'alert.setting.expr' | i18n }}</th>
      <th nzAlign="center" nzWidth="8%">{{ 'alert.priority' | i18n }}</th>
      <th nzAlign="center" nzWidth="8%">{{ 'alert.setting.times' | i18n }}</th>
      <th nzAlign="center" nzWidth="20%">{{ 'alert.setting.template' | i18n }}</th>
      <th nzAlign="center" nzWidth="8%">{{ 'alert.setting.enable' | i18n }}</th>
      <th nzAlign="center" nzWidth="15%">{{ 'common.edit' | i18n }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data">
      <td nzAlign="center" nzLeft [nzChecked]="checkedDefineIds.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td nzAlign="center">
        <span>{{ data.name }}</span>
      </td>
      <td nzAlign="center">
        <span>{{ data.expr }}</span>
      </td>
      <td nzAlign="center">
        <nz-tag *ngIf="data.priority == 0" nzColor="red">
          <i nz-icon nzType="bell" nzTheme="outline"></i>
          <span>{{ 'alert.priority.0' | i18n }}</span>
        </nz-tag>
        <nz-tag *ngIf="data.priority == 1" nzColor="orange">
          <i nz-icon nzType="bell" nzTheme="outline"></i>
          <span>{{ 'alert.priority.1' | i18n }}</span>
        </nz-tag>
        <nz-tag *ngIf="data.priority == 2" nzColor="yellow">
          <i nz-icon nzType="bell" nzTheme="outline"></i>
          <span>{{ 'alert.priority.2' | i18n }}</span>
        </nz-tag>
      </td>
      <td nzAlign="center">{{ data.times }}</td>
      <td nzAlign="center">{{ data.template }}</td>
      <td nzAlign="center">
        <nz-switch [(ngModel)]="data.enable" (ngModelChange)="updateAlertDefine(data)" name="enable"></nz-switch>
      </td>
      <td nzAlign="center">
        <div class="actions">
          <button
            nz-button
            nzType="primary"
            (click)="onEditOneAlertDefine(data.id)"
            nz-tooltip
            [nzLoading]="isLoadingEdit === data.id"
            [nzTooltipTitle]="'alert.setting.edit' | i18n"
          >
            <i nz-icon nzType="edit" nzTheme="outline"></i>
          </button>
          <button
            nz-button
            nzDanger
            nzType="primary"
            (click)="onDeleteOneAlertDefine(data.id)"
            nz-tooltip
            [nzTooltipTitle]="'alert.setting.delete' | i18n"
          >
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #rangeTemplate> {{ 'common.total' | i18n }} {{ total }} </ng-template>

<!-- new or update alert definition pop-up box -->
<nz-modal
  [(nzVisible)]="isManageModalVisible"
  [nzTitle]="isManageModalAdd ? ('alert.setting.new' | i18n) : ('alert.setting.edit' | i18n)"
  (nzOnCancel)="onManageModalCancel()"
  (nzOnOk)="onManageModalOk()"
  nzMaskClosable="false"
  nzWidth="70%"
  [nzOkLoading]="isManageModalOkLoading"
>
  <div *nzModalContent class="-inner-content">
    <form nz-form #defineForm="ngForm">
      <nz-form-item>
        <nz-form-label nzSpan="7" nzRequired="true" nzFor="name" [nzTooltipTitle]="'alert.setting.name.tip' | i18n">
          {{ 'alert.setting.name' | i18n }}
        </nz-form-label>
        <nz-form-control nzSpan="12" [nzErrorTip]="'validation.required' | i18n">
          <input [(ngModel)]="define.name" nz-input required type="text" name="name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="target" nzRequired="true" [nzTooltipTitle]="'alert.setting.target.tip' | i18n">
          {{ 'alert.setting.target' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-cascader
            required
            name="target"
            id="target"
            [nzShowSearch]="{ filter: caseInsensitiveFilter }"
            [nzPlaceHolder]="'alert.setting.target.place-holder' | i18n"
            [nzOptions]="appHierarchies"
            [(ngModel)]="cascadeValues"
            (ngModelChange)="cascadeOnChange($event)"
          ></nz-cascader>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="cascadeValues.length > 0" [ngStyle]="{ marginBottom: '5px' }">
        <nz-form-label [nzSpan]="7" nzFor="isExpr" nzRequired="true" [nzTooltipTitle]="'alert.setting.rule.label' | i18n">
          {{ 'alert.setting.rule' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <div *ngIf="cascadeValues[1] === 'availability'">
            <span style="color: red">
              <nz-tag nzColor="error">{{ 'monitor.status.down' | i18n }}</nz-tag>
              <nz-tag nzColor="error">{{ 'monitor.status.unreachable' | i18n }}</nz-tag>
              {{ 'alert.setting.trigger' | i18n }}
            </span>
          </div>
          <ng-container *ngIf="cascadeValues[1] !== 'availability'">
            <nz-radio-group
              [(ngModel)]="isExpr"
              (ngModelChange)="switchAlertRuleShow()"
              nzButtonStyle="solid"
              [required]="'true'"
              name="isExpr"
              id="isExpr"
            >
              <label nz-radio-button [nzValue]="false">
                {{ 'alert.setting.rule.switch-expr.0' | i18n }}
              </label>
              <label nz-radio-button [nzValue]="true">
                {{ 'alert.setting.rule.switch-expr.1' | i18n }}
              </label>
            </nz-radio-group>
          </ng-container>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="cascadeValues.length > 0 && cascadeValues[1] !== 'availability' && isExpr">
        <nz-form-label [nzSpan]="7" [nzNoColon]="true" nzFor="expr"></nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <div class="template-input-wrapper">
            <a nz-dropdown [nzDropdownMenu]="exprMenu" class="env-vars-dropdown" nzTrigger="click" [nzPlacement]="'bottomRight'">
              <button nz-button nzType="link" nz-tooltip [nzTooltipTitle]="'alert.setting.expr.tip' | i18n">
                <i nz-icon nzType="snippets" nzTheme="outline"></i>
              </button>
            </a>
            <nz-dropdown-menu #exprMenu="nzDropdownMenu">
              <ul nz-menu class="env-vars-menu">
                <li nz-menu-item *ngFor="let item of currentMetrics" (click)="onExprVarClick(item)">
                  <span class="env-var-name">{{ item.value }}</span>
                  <span class="env-var-desc">{{ item.label }}</span>
                  <nz-tag class="env-var-type" [nzColor]="item.type === 0 ? 'success' : 'processing'">
                    {{ item.type === 0 ? ('alert.setting.number' | i18n) : ('alert.setting.string' | i18n) }}
                  </nz-tag>
                </li>
                <nz-divider></nz-divider>
                <li nz-menu-item *ngFor="let op of commonOperators" (click)="onExprVarClick(op)">
                  <span class="env-var-name">{{ op.value }}</span>
                  <span class="env-var-desc">{{ op.description | i18n }}</span>
                </li>
              </ul>
            </nz-dropdown-menu>

            <nz-textarea-count [nzMaxCharacterCount]="100">
              <textarea
                [(ngModel)]="define.expr"
                (ngModelChange)="updatePreviewExpr()"
                required
                rows="3"
                nz-input
                name="expr"
                id="expr"
                [placeholder]="'alert.setting.expr.example' | i18n"
              >
              </textarea>
            </nz-textarea-count>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="cascadeValues.length > 0 && cascadeValues[1] !== 'availability' && !isExpr">
        <nz-form-label [nzSpan]="7" [nzNoColon]="true"></nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n" [nzValidateStatus]="qbFormCtrl">
          <ngx-query-builder
            [classNames]="qbClassNames"
            [config]="qbConfig"
            [formControl]="qbFormCtrl"
            [ngStyle]="{ background: 'ghostwhite', borderRadius: '4px' }"
          >
            <ng-container *querySwitchGroup="let rule; let onChange = onChange">
              <nz-radio-group
                style="white-space: nowrap"
                [(ngModel)]="rule.condition"
                (ngModelChange)="onChange(rule.condition)"
                nzButtonStyle="solid"
                [required]="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <label nz-radio-button [nzValue]="'and'">AND</label>
                <label nz-radio-button [nzValue]="'or'">OR</label>
              </nz-radio-group>
            </ng-container>
            <ng-container *queryRulesetAddRuleButton="let rule; let addRule = addRule">
              <button style="margin-left: 0; flex-shrink: 0" nz-button (click)="addRule()">
                <i nz-icon nzType="plus"></i>
                {{ 'Rule' }}
              </button>
            </ng-container>
            <ng-container *queryRulesetAddRulesetButton="let rule; let addRuleSet = addRuleSet">
              <button style="margin-left: 0; flex-shrink: 0" nz-button (click)="addRuleSet()">
                <i nz-icon nzType="plus"></i>
                {{ 'Ruleset' }}
              </button>
            </ng-container>
            <ng-container *queryRulesetRemoveButton="let rule; let removeRuleSet = removeRuleSet">
              <button style="margin-left: 0; flex-shrink: 0" nz-button nzDanger (click)="removeRuleSet(rule)">
                <i nz-icon nzType="minus"></i>
              </button>
            </ng-container>
            <ng-container *queryRuleRemoveButton="let rule; let removeRule = removeRule">
              <button style="flex-shrink: 0" nz-button nzDanger (click)="removeRule(rule)">
                <i nz-icon nzType="minus"></i>
              </button>
            </ng-container>
            <ng-container *queryField="let rule; let getFields = getFields; let onChange = onChange">
              <nz-select
                [(ngModel)]="rule.field"
                (ngModelChange)="onChange($event, rule)"
                [ngModelOptions]="{ standalone: true }"
                [nzDropdownMatchSelectWidth]="false"
                [nzPlaceHolder]="'alert.setting.rule.metric.place-holder' | i18n"
                style="width: auto"
              >
                <nz-option
                  *ngFor="let field of getFields(rule.entity || '')"
                  [nzValue]="field.value"
                  [nzLabel]="field.name ? field.name : field.value"
                  nzCustomContent
                >
                  {{ field.name ? field.name : field.value }}
                  <nz-tag [nzColor]="field.type === 0 ? 'success' : 'processing'">
                    {{
                      field.type === 0
                        ? ('alert.setting.number' | i18n)
                        : field.type === 3
                        ? ('alert.setting.time' | i18n)
                        : ('alert.setting.string' | i18n)
                    }}
                  </nz-tag>
                  <nz-tag *ngIf="field.unit">
                    {{ field.unit }}
                  </nz-tag>
                </nz-option>
              </nz-select>
            </ng-container>
            <ng-container *queryOperator="let rule; let operators = operators; let onChange = onChange">
              <nz-select
                [(ngModel)]="rule.operator"
                (ngModelChange)="onChange(rule)"
                [ngModelOptions]="{ standalone: true }"
                [nzShowArrow]="false"
                [nzDropdownMatchSelectWidth]="false"
                style="text-align: center; font-weight: bolder; width: auto"
                [nzDropdownStyle]="{ 'text-align': 'center', 'font-weight': 'bolder', 'font-size': 'larger' }"
                [nzPlaceHolder]="'alert.setting.rule.operator' | i18n"
              >
                <nz-option
                  *ngFor="let operator of operators"
                  [nzValue]="operator"
                  [nzLabel]="getOperatorLabelByType(operator) | i18n"
                ></nz-option>
              </nz-select>
            </ng-container>
            <ng-container *queryInput="let rule; let field = field; let onChange = onChange; type: 'custom'">
              <input
                nz-input
                [disabled]="rule.operator == 'exists' || rule.operator == '!exists'"
                [type]="field.type === 0 ? 'number' : 'text'"
                [(ngModel)]="rule.value"
                (ngModelChange)="onChange($event)"
                [ngModelOptions]="{ standalone: true }"
                [placeholder]="
                  rule.operator == 'exists' || rule.operator == '!exists'
                    ? ''
                    : field.type === 0
                    ? ('alert.setting.rule.numeric-value.place-holder' | i18n)
                    : ('alert.setting.rule.string-value.place-holder' | i18n)
                "
                style="flex: 1"
              />
            </ng-container>
          </ngx-query-builder>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="previewExpr">
          {{ 'alert.setting.preview.expr' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-card [nzBordered]="false" class="preview-expr-card">
            <pre>{{ previewExpr }}</pre>
          </nz-card>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="7" nzRequired="true" nzFor="priority" [nzTooltipTitle]="'alert.setting.priority.tip' | i18n">
          {{ 'alert.priority' | i18n }}
        </nz-form-label>
        <nz-form-control nzSpan="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-select
            [(ngModel)]="define.priority"
            [nzPlaceHolder]="'alert.notice.rule.priority.placeholder' | i18n"
            name="priority"
            id="priority"
          >
            <nz-option [nzValue]="0" [nzLabel]="'alert.priority.0' | i18n"></nz-option>
            <nz-option [nzValue]="1" [nzLabel]="'alert.priority.1' | i18n"></nz-option>
            <nz-option [nzValue]="2" [nzLabel]="'alert.priority.2' | i18n"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="7" nzRequired="true" nzFor="duration" [nzTooltipTitle]="'alert.setting.times.tip' | i18n">
          {{ 'alert.setting.times' | i18n }}
        </nz-form-label>
        <nz-form-control nzSpan="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-input-number [(ngModel)]="define.times" [nzMin]="1" [nzMax]="999" [nzStep]="1" required name="duration" id="duration">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="template" nzRequired="true" [nzTooltipTitle]="'alert.setting.template.tip' | i18n">
          {{ 'alert.setting.template' | i18n }}
        </nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <div class="template-input-wrapper">
            <a nz-dropdown [nzDropdownMenu]="menu" class="env-vars-dropdown" nzTrigger="click" [nzPlacement]="'bottomRight'">
              <button nz-button nzType="link" nz-tooltip [nzTooltipTitle]="'alert.setting.template.tip' | i18n">
                <i nz-icon nzType="snippets" nzTheme="outline"></i>
              </button>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu class="env-vars-menu">
                <li nz-menu-item *ngFor="let env of templateEnvVars" (click)="onEnvVarClick(env)">
                  <span class="env-var-name">{{ env.name }}</span>
                  <span class="env-var-desc">{{ env.description | i18n }}</span>
                </li>
              </ul>
            </nz-dropdown-menu>

            <nz-textarea-count [nzMaxCharacterCount]="200">
              <textarea
                [(ngModel)]="define.template"
                required
                rows="3"
                nz-input
                name="template"
                id="template"
                [placeholder]="'alert.setting.template.example' | i18n"
              >
              </textarea>
            </nz-textarea-count>
          </div>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="7" [nzFor]="'tags'" [nzTooltipTitle]="'tag.bind.tip' | i18n">{{ 'tag.bind' | i18n }} </nz-form-label>
        <nz-form-control nzSpan="8" [nzErrorTip]="'validation.required' | i18n">
          <app-form-field
            [item]="{
              field: 'tags',
              type: 'tags-selection'
            }"
            [extra]="{ tag_mode: 'closeable' }"
            [name]="'tags'"
            [(ngModel)]="define.tags"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzSpan="7" nzRequired="true" nzFor="enable" [nzTooltipTitle]="'alert.setting.enable.tip' | i18n">
          {{ 'alert.setting.enable' | i18n }}
        </nz-form-label>
        <nz-form-control nzSpan="12">
          <nz-switch [(ngModel)]="define.enable" [ngModelOptions]="{ standalone: true }" name="enable" id="enable"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>

<!-- associate alert definition and monitoring pop-up box -->

<nz-modal
  [(nzVisible)]="isConnectModalVisible"
  [nzTitle]="'alert.setting.connect' | i18n"
  (nzOnCancel)="onConnectModalCancel()"
  (nzOnOk)="onConnectModalOk()"
  nzMaskClosable="false"
  nzWidth="60%"
  [nzOkLoading]="isConnectModalOkLoading"
>
  <nz-transfer
    *nzModalContent
    [nzDataSource]="transferData"
    nzShowSearch="true"
    nzShowSelectAll="false"
    [nzRenderList]="[renderList, renderList]"
    (nzChange)="change($event)"
    style="overflow-x: scroll"
  >
    <ng-template
      #renderList
      let-items
      let-direction="direction"
      let-stat="stat"
      let-onItemSelectAll="onItemSelectAll"
      let-onItemSelect="onItemSelect"
    >
      <nz-table #t [nzData]="$asTransferItems(items)" nzSize="small">
        <thead>
          <tr>
            <th [nzChecked]="stat.checkAll" [nzIndeterminate]="stat.checkHalf" (nzCheckedChange)="onItemSelectAll($event)"></th>
            <th *ngIf="direction == 'left'">{{ 'alert.setting.connect.left' | i18n }}</th>
            <th *ngIf="direction == 'right'">{{ 'alert.setting.connect.right' | i18n }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of t.data" (click)="onItemSelect(data)">
            <td [nzChecked]="!!data.checked" (nzCheckedChange)="onItemSelect(data)"></td>
            <td>{{ data.name }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-template>
  </nz-transfer>
</nz-modal>

<!-- export alert definitions pop-up box -->
<nz-modal
  [(nzVisible)]="isSwitchExportTypeModalVisible"
  [nzTitle]="'alert.export.switch-type' | i18n"
  (nzOnCancel)="onExportTypeModalCancel()"
  nzOkDisabled="true"
  [nzFooter]="switchExportTypeModalFooter"
>
  <ng-container *nzModalContent>
    <p style="text-align: center">
      <button nz-button nzType="primary" nzSize="large" (click)="exportDefines('YAML')" [nzLoading]="exportYamlButtonLoading">
        <span nz-icon nzType="download"></span>
        {{ 'alert.export.use-type' | i18n : { type: 'YAML' } }}
      </button>
    </p>
    <p style="text-align: center">
      <button nz-button nzType="primary" nzSize="large" (click)="exportDefines('JSON')" [nzLoading]="exportJsonButtonLoading">
        <span nz-icon nzType="download"></span>
        {{ 'alert.export.use-type' | i18n : { type: 'JSON' } }}
      </button>
    </p>
    <p style="text-align: center">
      <button nz-button nzType="primary" nzSize="large" (click)="exportDefines('EXCEL')" [nzLoading]="exportExcelButtonLoading">
        <span nz-icon nzType="download"></span>
        {{ 'alert.export.use-type' | i18n : { type: 'EXCEL' } }}
      </button>
    </p>
  </ng-container>
</nz-modal>
