<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<app-help-message-show
  [help_message_content]="'自定义监控看板'"
  [guild_link]="'bulletin.help.link' | i18n"
  [module_name]="'menu.alert.setting'"
  [icon_name]="'calculator'"
></app-help-message-show>

<nz-divider></nz-divider>

<app-toolbar>
  <ng-template #left>
    <button nz-button nzType="primary" (click)="sync()" nz-tooltip [nzTooltipTitle]="'common.refresh' | i18n">
      <i nz-icon nzType="sync" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="primary" (click)="onNewBulletinDefine()">
      <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
      新增看板项
    </button>
    <button nz-button nzType="primary" nzDanger (click)="onDeleteBulletinDefines()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      删除看板项
    </button>
  </ng-template>
</app-toolbar>

<nz-tabset nzType="card">
  <nz-tab *ngFor="let bulletinTab of tabDefines" [nzTitle]="bulletinTab.name">
    <nz-table
      #fixedTable
      [nzData]="bulletinTab.data"
      [nzPageIndex]="pageIndex"
      [nzPageSize]="pageSize"
      [nzTotal]="total"
      nzFrontPagination="false"
      [nzLoading]="tableLoading"
      nzShowSizeChanger
      [nzShowTotal]="rangeTemplate"
      [nzPageSizeOptions]="[8, 15, 25]"
      (nzQueryParams)="onTablePageChange($event)"
      nzShowPagination="true"
      [nzScroll]="{ x: 'auto' }"
      nzBordered
      class="table"
    >
      <thead>
        <tr>
          <th nzAlign="center" nzWidth="7%" [rowSpan]="2">App</th>
          <th nzAlign="center" nzWidth="7%" [rowSpan]="2">Host</th>
          <ng-container *ngFor="let metricName of getMetricNames(bulletinTab)">
            <th nzAlign="center" [colSpan]="bulletinTab.bulletinColumn[metricName].size">{{ metricName }}</th>
          </ng-container>
        </tr>
        <tr>
          <ng-container *ngFor="let metricName of getMetricNames(bulletinTab)">
            <ng-container *ngFor="let field of bulletinTab.bulletinColumn[metricName]">
              <th nzAlign="center">{{ field.split('$$$')[1] }}</th>
            </ng-container>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of fixedTable.data">
          <ng-container *ngFor="let rowIndex of getRowIndexes(data, bulletinTab)">
            <tr>
              <ng-container *ngIf="rowIndex === 0">
                <td nzAlign="center" [rowSpan]="getMaxRowSpan(data, bulletinTab)">{{ data.app }}</td>
                <td nzAlign="center" [rowSpan]="getMaxRowSpan(data, bulletinTab)">{{ data.host }}</td>
              </ng-container>
              <ng-container *ngFor="let metricName of getMetricNames(bulletinTab)">
                <ng-container *ngFor="let field of bulletinTab.bulletinColumn[metricName]">
                  <td *ngIf= "data[field] !== null">
                    {{ data[field][rowIndex].split('$$$')[0] }}
                    <nz-tag *ngIf="data[field][rowIndex] == null" nzColor="warning">{{ 'monitors.detail.value.null' | i18n }}</nz-tag>
                    <nz-tag *ngIf="data[field][rowIndex].split('$$$')[1]" nzColor="success">{{
                      data[field][rowIndex].split('$$$')[1]
                    }}</nz-tag>
                  </td>
                </ng-container>
              </ng-container>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </nz-table>

    <ng-template #rangeTemplate> {{ 'common.total' | i18n }} {{ bulletinTab.total }} </ng-template>
  </nz-tab>
</nz-tabset>

<!-- new bulletin modal -->
<nz-modal
  [(nzVisible)]="isManageModalVisible"
  [nzTitle]="isManageModalAdd ? '新增看板' : '编辑看板'"
  (nzOnCancel)="onManageModalCancel()"
  (nzOnOk)="onManageModalOk()"
  nzMaskClosable="false"
  nzWidth="70%"
  [nzOkLoading]="isManageModalOkLoading"
>
  <div *nzModalContent class="-inner-content">
    <form nz-form #defineForm="ngForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="textInput" nzRequired="true">{{ 'bulletin.name' | i18n }}</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <input nz-input placeholder="{{ 'bulletin.name.placeholder' | i18n }}" [(ngModel)]="define.name" name="inputText" required />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="dropdown" nzRequired="true">{{ 'bulletin.monitor.type' | i18n }}</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-select
            nzAllowClear
            nzShowSearch
            name="appDefines"
            [(ngModel)]="define.app"
            (nzOnSearch)="onSearchAppDefines()"
            (ngModelChange)="onAppChange($event)"
          >
            <ng-container *ngFor="let app of appEntries">
              <nz-option *ngIf="isAppListLoading" [nzValue]="app.key" [nzLabel]="app.key + '/' + app.value"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="dropdown" nzRequired="true">{{ 'bulletin.monitor.name' | i18n }}</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-select
            nzAllowClear
            nzShowSearch
            name="monitors"
            [(ngModel)]="define.monitorIds"
            (nzOnSearch)="onSearchMonitorsByApp(define.app)"
            nzMode="multiple"
            [nzDropdownRender]="dropdownRenderTemplate"
          >
            <ng-container *ngFor="let monitor of monitors">
              <nz-option *ngIf="isMonitorListLoading" [nzValue]="monitor.id" [nzLabel]="monitor.name"></nz-option>
            </ng-container>
          </nz-select>
          <ng-template #dropdownRenderTemplate>
            <div class="custom-dropdown">
              <button nz-button (click)="toggleSelectAll()">Toggle Select All</button>
            </div>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="dropdown" nzRequired="true">{{ 'bulletin.monitor.metrics' | i18n }}</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-transfer
            [nzDataSource]="hierarchies"
            [nzShowSelectAll]="false"
            [nzRenderList]="[leftRenderList, null]"
            (nzChange)="transferChange($event)"
          >
            <ng-template #leftRenderList let-items let-onItemSelect="onItemSelect">
              <nz-tree
                [nzData]="treeNodes"
                nzExpandAll
                nzBlockNode
                nzCheckable
                nzCheckStrictly
                [(ngModel)]="define.metrics"
                name="metrics"
                (nzCheckBoxChange)="treeCheckBoxChange($event, onItemSelect)"
              >
                <ng-template let-node>
                  <span
                    (click)="checkBoxChange(node, onItemSelect)"
                    class="ant-tree-node-content-wrapper ant-tree-node-content-wrapper-open"
                  >
                    {{ node.title }}
                  </span>
                </ng-template>
              </nz-tree>
            </ng-template>
          </nz-transfer>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>


<!-- delete bulletin modal -->
<nz-modal
  [(nzVisible)]="isDeleteModalVisible"
  [nzTitle]="'删除看板'"
  (nzOnCancel)="onDeleteModalCancel()"
  (nzOnOk)="onDeleteModalOk()"
  nzMaskClosable="false"
  nzWidth="70%"
>
  <div *nzModalContent class="-inner-content">
    <form nz-form #defineForm="ngForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="textInput" nzRequired="true">{{ 'bulletin.name' | i18n }}</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-select
            nzMode="multiple"
            nzPlaceHolder="Please select"
            [(ngModel)]="this.bulletinNames"
            [nzShowSearch]="true"
            name="delete"
          >
            <nz-option *ngFor="let bulletinTab of tabDefines" [nzLabel]="bulletinTab.name" [nzValue]="bulletinTab.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>
