<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<app-help-message-show
  [help_message_content]="'自定义监控看板'"
  [guild_link]="'alert.help.center.setting' | i18n"
  [module_name]="'menu.alert.setting'"
  [icon_name]="'calculator'"
></app-help-message-show>

<nz-divider></nz-divider>

<app-toolbar>
  <ng-template #left>
    <button nz-button nzType="primary" (click)="sync()" nz-tooltip [nzTooltipTitle]="'common.refresh' | i18n">
      <i nz-icon nzType="sync" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="primary" (click)="onNewBulletinDefine()">
      <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
      新增看板项
    </button>
    <button nz-button nzType="primary" nzDanger (click)="onDeleteBulletinDefines()">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      删除看板项
    </button>
  </ng-template>
  <ng-template #right>
    <input
      style="width: 200px; text-align: center"
      nz-input
      type="text"
      [placeholder]="'alert.setting.search' | i18n"
      nzSize="default"
      (keyup.enter)="loadBulletinDefineTable()"
      [(ngModel)]="search"
    />
    <button nz-button nzType="primary" (click)="loadBulletinDefineTable()">
      {{ 'common.search' | i18n }}
    </button>
  </ng-template>
</app-toolbar>

<nz-table
  #fixedTable
  [nzData]="defines"
  [nzPageIndex]="pageIndex"
  [nzPageSize]="pageSize"
  [nzTotal]="total"
  nzFrontPagination="false"
  [nzLoading]="tableLoading"
  nzShowSizeChanger
  [nzShowTotal]="rangeTemplate"
  [nzPageSizeOptions]="[8, 15, 25]"
  (nzQueryParams)="onTablePageChange($event)"
  nzShowPagination="true"
  [nzScroll]="{ x: '1240px' }"
>
  <thead>
    <tr>
      <th nzAlign="center" nzLeft nzWidth="3%" [(nzChecked)]="checkedAll" (nzCheckedChange)="onAllChecked($event)"></th>
      <th nzAlign="center" nzWidth="16%">目标Host</th>
      <th nzAlign="center" nzWidth="14%">{{ 'alert.setting.expr' | i18n }}</th>
      <th nzAlign="center" nzWidth="8%">{{ 'alert.priority' | i18n }}</th>
      <th nzAlign="center" nzWidth="8%">{{ 'alert.setting.times' | i18n }}</th>
      <th nzAlign="center" nzWidth="20%">{{ 'alert.setting.template' | i18n }}</th>
      <th nzAlign="center" nzWidth="8%">{{ 'alert.setting.default' | i18n }}</th>
      <th nzAlign="center" nzWidth="8%">{{ 'alert.setting.enable' | i18n }}</th>
      <th nzAlign="center" nzWidth="15%">{{ 'common.edit' | i18n }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of fixedTable.data">
      <td nzAlign="center" nzLeft [nzChecked]="checkedDefineIds.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <td nzAlign="center">
        <button
          nz-button
          nzType="primary"
          (click)="onOpenConnectModal(data.id, data.app)"
          nz-tooltip
          [disabled]="data.app"
          [nzTooltipTitle]="'alert.setting.connect' | i18n"
        >
          <i nz-icon nzType="link" nzTheme="outline"></i>
        </button>
        <button
          nz-button
          nzType="primary"
          (click)="onEditOneBulletinDefine(data.id)"
          nz-tooltip
          [nzTooltipTitle]="'alert.setting.edit' | i18n"
        >
          <i nz-icon nzType="edit" nzTheme="outline"></i>
        </button>
        <button
          nz-button
          nzDanger
          nzType="primary"
          (click)="onDeleteOneBulletinDefine(data.id)"
          nz-tooltip
          [nzTooltipTitle]="'alert.setting.delete' | i18n"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>

<ng-template #rangeTemplate> {{ 'common.total' | i18n }} {{ total }} </ng-template>

<!-- 新增或修改告警定义弹出框 -->
<nz-modal
  [(nzVisible)]="isManageModalVisible"
  [nzTitle]="isManageModalAdd ? '新增看板' : '编辑看板'"
  (nzOnCancel)="onManageModalCancel()"
  (nzOnOk)="onManageModalOk()"
  nzMaskClosable="false"
  nzWidth="70%"
  [nzOkLoading]="isManageModalOkLoading"
>
  <div *nzModalContent class="-inner-content">
    <form nz-form #defineForm="ngForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="dropdown" nzRequired="true">{{ 'dropdown.label' | i18n }}</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-select
            required
            name="dropdown"
            id="dropdown"
            [nzPlaceHolder]="'dropdown.place-holder' | i18n"
          >
            <nz-option nzValue="option1" nzLabel="选项一"></nz-option>
            <nz-option nzValue="option2" nzLabel="选项二"></nz-option>
            <nz-option nzValue="option3" nzLabel="选项三"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzFor="target" nzRequired="true">{{ 'alert.setting.target' | i18n }}</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="'validation.required' | i18n">
          <nz-cascader
            required
            name="target"
            id="target"
            [nzShowSearch]="{ filter: caseInsensitiveFilter }"
            [nzPlaceHolder]="'alert.setting.target.place-holder' | i18n"
            [nzOptions]="appHierarchies"
            [(ngModel)]="cascadeValues"
            (ngModelChange)="cascadeOnChange($event)"
          ></nz-cascader>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</nz-modal>

<!-- 选择TAG弹出框 -->
<nz-modal
  [(nzVisible)]="isTagManageModalVisible"
  [nzTitle]="'tag.bind' | i18n"
  (nzOnCancel)="onTagManageModalCancel()"
  (nzOnOk)="onTagManageModalOk()"
  nzMaskClosable="false"
  nzWidth="30%"
  [nzOkLoading]="isTagManageModalOkLoading"
>
  <div *nzModalContent class="-inner-content">
    <input
      style="margin-left: 5px; width: 50%; text-align: center"
      nz-input
      type="text"
      [placeholder]="'tag.search' | i18n"
      nzSize="default"
      (keyup.enter)="loadTagsTable()"
      [(ngModel)]="tagSearch"
    />
    <button nz-button nzType="primary" routerLink="/setting/tags" style="margin-left: 5px">
      <i nz-icon nzType="setting" nzTheme="outline"></i>
      {{ 'tag.setting' | i18n }}
    </button>
    <nz-table #smallTable nzSize="small" [nzData]="tags" [nzPageSize]="8" [nzLoading]="tagTableLoading">
      <thead>
        <tr>
          <th nzAlign="center" nzLeft nzWidth="4%" [(nzChecked)]="tagCheckedAll" (nzCheckedChange)="onTagAllChecked($event)"></th>
          <th nzAlign="left">{{ 'tag' | i18n }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of smallTable.data">
          <td nzAlign="center" nzLeft [nzChecked]="checkedTags.has(data)" (nzCheckedChange)="onTagItemChecked(data, $event)"></td>
          <td nzAlign="left">
            <nz-tag *ngIf="data.tagValue == undefined || data.tagValue.trim() == ''" [nzColor]="data.color">{{ data.name }}</nz-tag>
            <nz-tag *ngIf="data.tagValue != undefined && data.tagValue.trim() != ''" [nzColor]="data.color">
              {{ data.name + ':' + data.tagValue }}
            </nz-tag>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-modal>

<!-- 关联告警定义与监控关系弹出框 -->

<nz-modal
  [(nzVisible)]="isConnectModalVisible"
  [nzTitle]="'alert.setting.connect' | i18n"
  (nzOnCancel)="onConnectModalCancel()"
  (nzOnOk)="onConnectModalOk()"
  nzMaskClosable="false"
  nzWidth="60%"
  [nzOkLoading]="isConnectModalOkLoading"
>
  <nz-transfer
    *nzModalContent
    [nzDataSource]="transferData"
    nzShowSearch="true"
    nzShowSelectAll="false"
    [nzRenderList]="[renderList, renderList]"
    (nzChange)="change($event)"
    style="overflow-x: scroll"
  >
    <ng-template
      #renderList
      let-items
      let-direction="direction"
      let-stat="stat"
      let-onItemSelectAll="onItemSelectAll"
      let-onItemSelect="onItemSelect"
    >
      <nz-table #t [nzData]="$asTransferItems(items)" nzSize="small">
        <thead>
          <tr>
            <th [nzChecked]="stat.checkAll" [nzIndeterminate]="stat.checkHalf" (nzCheckedChange)="onItemSelectAll($event)"></th>
            <th *ngIf="direction == 'left'">{{ 'alert.setting.connect.left' | i18n }}</th>
            <th *ngIf="direction == 'right'">{{ 'alert.setting.connect.right' | i18n }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of t.data" (click)="onItemSelect(data)">
            <td [nzChecked]="!!data.checked" (nzCheckedChange)="onItemSelect(data)"></td>
            <td>{{ data.name }}</td>
          </tr>
        </tbody>
      </nz-table>
    </ng-template>
  </nz-transfer>
</nz-modal>

<!-- 导出告警定义弹出框 -->
<nz-modal
  [(nzVisible)]="isSwitchExportTypeModalVisible"
  [nzTitle]="'alert.export.switch-type' | i18n"
  (nzOnCancel)="onExportTypeModalCancel()"
  nzOkDisabled="true"
  [nzFooter]="switchExportTypeModalFooter"
>
</nz-modal>
