p {
  font-size: xx-small;
  word-wrap: break-word;
  word-break: break-all;
}

// angular modify the style of a third-party subcomponent
// :host indicates that the current component is selected##
// ::ng-deep The nested hierarchy of the middle className can be ignored. Find the className you want to modify directly##
:host ::ng-deep {
  .ant-card-head-title {
    padding: 16px 0 4px 0;
  }
  .ant-table-body {
    overflow-y: auto!important;
  }
  .ant-card {
    margin-bottom: inherit;
  }
}
