<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<div #collapsed_content class="help_message_div br-8" id="collapsed">
  <div class="level1_breadcrumb" [ngClass]="{ collapsed: isCollapsed }">
    <div>
      <div class="flex help_message_nav">
        <a class="help_message_nav_item" [routerLink]="['/']" [queryParams]="{ app: app }">
          <i class="help_link_span" nz-icon nzType="dashboard"></i>
          <span>{{ 'menu.dashboard' | i18n }}</span>
        </a>
      </div>

      <div class="flex help_message_nav" *ngIf="isLoaded()">
        <a class="help_message_nav_item" [routerLink]="">
          <i class="help_link_span" nz-icon nzType="{{ icon_name }}"></i>
          <span *ngIf="app != undefined && module_name == undefined">{{ 'monitor.app.' + app | i18n }}</span>
          <span *ngIf="module_name != undefined">{{ module_name | i18n }}</span>
        </a>
      </div>
    </div>
    <div class="handover_button" *ngIf="isLoaded()">
      <button class="handover_button_content" id="handover_button_self" (click)="handleButtonClick()">{{
        'common.button.' + collapse_expand | i18n
      }}</button>
      <i nz-icon (click)="handleButtonClick()">
        <svg viewBox="64 64 896 896" focusable="false" fill="#000000" width="1.12em" height="1.12em" data-icon="alert" aria-hidden="true">
          <path
            d="M550.4 793.6L490.666667 853.333333l-59.733334-59.733333L256 618.666667l59.733333-59.733334 174.933334 174.933334 174.933333-174.933334 59.733333 59.733334-174.933333 174.933333zM490.666667 332.8l-174.933334 174.933333L256 448l174.933333-174.933333L490.666667 213.333333l59.733333 59.733334 174.933333 174.933333-59.733333 59.733333-174.933333-174.933333z"
            fill="#000000"
            p-id="3525"
          ></path>
        </svg>
      </i>
    </div>
  </div>
  <div class="collapsed_content content_bg_color" *ngIf="isLoaded()">
    <div #level2Message class="level2_message_show">
      <div [innerHTML]="help_message_content"></div>
    </div>
    <div class="help_link_content">
      <div class="flex help_link_nav">
        <a class="help_message_nav_item" [href]="'https://hertzbeat.apache.org/docs/help/issue'" target="_blank">
          <i class="help_link_span" nz-icon nzType="question-circle"></i>
          <span class="hover_blue">{{ 'menu.link.question' | i18n }}</span>
        </a>
      </div>

      <div class="flex help_link_nav">
        <a class="help_message_nav_item" [href]="guild_link" target="_blank">
          <i class="help_link_span" nz-icon nzType="file-search"></i>
          <span class="hover_blue">{{ 'menu.link.guild' | i18n }}</span>
        </a>
      </div>
    </div>
  </div>
</div>
