<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<app-help-message-show
  [help_message_content]="'alert.help.center' | i18n"
  [guild_link]="'alert.help.center.link' | i18n"
  [module_name]="'menu.alert.center'"
  [icon_name]="'alert'"
></app-help-message-show>

<nz-divider></nz-divider>

<app-toolbar>
  <ng-template #left>
    <button nz-button nzType="primary" (click)="sync()" nz-tooltip [nzTooltipTitle]="'common.refresh' | i18n">
      <i nz-icon nzType="sync" nzTheme="outline"></i>
    </button>
  </ng-template>
  <ng-template #right>
    <nz-select
      class="mobile-hide"
      nzAllowClear
      [nzPlaceHolder]="'alert.center.filter-priority' | i18n"
      [(ngModel)]="filterPriority"
      (ngModelChange)="loadAlertsTable()"
    >
      <nz-option [nzLabel]="'alert.severity.all' | i18n" [nzValue]="9"></nz-option>
      <nz-option [nzLabel]="'alert.severity.2' | i18n" [nzValue]="2"></nz-option>
      <nz-option [nzLabel]="'alert.severity.1' | i18n" [nzValue]="1"></nz-option>
      <nz-option [nzLabel]="'alert.severity.0' | i18n" [nzValue]="0"></nz-option>
    </nz-select>
    <nz-select
      class="mobile-hide"
      nzAllowClear
      [nzPlaceHolder]="'alert.center.filter-status' | i18n"
      [(ngModel)]="filterStatus"
      (ngModelChange)="loadAlertsTable()"
    >
      <nz-option [nzLabel]="'alert.status.all' | i18n" [nzValue]="'all'"></nz-option>
      <nz-option [nzLabel]="'alert.status.0' | i18n" [nzValue]="'emergency'"></nz-option>
      <nz-option [nzLabel]="'alert.status.2' | i18n" [nzValue]="'critical'"></nz-option>
      <nz-option [nzLabel]="'alert.status.3' | i18n" [nzValue]="'warning'"></nz-option>
    </nz-select>
    <app-multi-func-input
      groupStyle="width: 250px;"
      class="mobile-hide"
      [placeholder]="'alert.center.search' | i18n"
      [(value)]="filterContent"
      (keydown.enter)="loadAlertsTable()"
    />
  </ng-template>
</app-toolbar>

<div class="alert-cards">
  <nz-card *ngFor="let group of groupAlerts" class="alert-card" [class]="'status-' + group.status" [nzBordered]="false">
    <!-- Alert Group Header -->
    <div class="alert-header">
      <div class="alert-info">
        <div class="alert-labels">
          <nz-tag *ngFor="let label of recordEntries(group.groupLabels)">
            {{ label[0] + ':' + label[1] }}
          </nz-tag>
        </div>
        <div class="alert-meta-info">
          <span class="alert-time">
            <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
            {{ group.gmtCreate | date : 'yyyy-MM-dd HH:mm:ss' }}
          </span>
          <span class="alert-count" *ngIf="group?.alerts">
            <i nz-icon nzType="alert" nzTheme="outline"></i>
            {{ 'alert.center.time.tip' | i18n : { times: group?.alerts?.length } }}
          </span>
        </div>
      </div>
      <div class="alert-actions">
        <button
          *ngIf="group.status != 'firing'"
          nz-button
          (click)="onMarkReadOneAlert(group.id)"
          nz-tooltip
          [nzTooltipTitle]="'alert.center.deal' | i18n"
        >
          <i nz-icon nzType="down-circle" nzTheme="outline"></i>
        </button>
        <button
          *ngIf="group.status == 'firing'"
          nz-button
          (click)="onMarkUnReadOneAlert(group.id)"
          nz-tooltip
          [nzTooltipTitle]="'alert.center.no-deal' | i18n"
        >
          <i nz-icon nzType="up-circle" nzTheme="outline"></i>
        </button>
        <button nz-button nzDanger (click)="onDeleteOneAlert(group.id)" nz-tooltip [nzTooltipTitle]="'alert.center.delete' | i18n">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
      </div>
    </div>

    <!-- Alert Details -->
    <div class="alert-details">
      <nz-collapse nzGhost>
        <nz-collapse-panel
          *ngFor="let item of group.alerts"
          [nzHeader]="alertHeader"
          [nzExtra]="alertExtra"
          [nzActive]="false"
          [nzExpandedIcon]="expandedIcon"
        >
          <ng-template #alertHeader>
            <div class="alert-content">{{ item.content }}</div>
          </ng-template>
          <ng-template #alertExtra>
            <div class="alert-time">{{ item.activeAt | date : 'yyyy-MM-dd HH:mm:ss' }}</div>
          </ng-template>
          <ng-template #expandedIcon let-active>
            <i nz-icon [nzType]="active ? 'caret-down' : 'caret-right'"></i>
          </ng-template>

          <!-- Labels -->
          <div class="detail-section" *ngIf="item.labels">
            <div class="section-title">{{ 'alert.center.labels' | i18n }}</div>
            <div class="alert-labels">
              <nz-tag *ngFor="let label of recordEntries(item.labels)">
                {{ label[0] + ':' + label[1] }}
              </nz-tag>
            </div>
          </div>

          <!-- Annotations -->
          <div class="detail-section" *ngIf="item.annotations">
            <div class="section-title">{{ 'annotation' | i18n }}</div>
            <div class="alert-annotations">
              <div *ngFor="let anno of recordEntries(item.annotations)" class="annotation-item">
                <span class="annotation-key">{{ anno[0] }}:</span>
                <span class="annotation-value">{{ anno[1] }}</span>
              </div>
            </div>
          </div>

          <!-- Time Info -->
          <div class="detail-section">
            <div class="section-title">{{ 'alert.center.time' | i18n }}</div>
            <div class="time-info">
              <div class="time-item">
                <span class="time-label">{{ 'alert.center.first-time' | i18n }}:</span>
                <span class="time-value">{{ item.startAt | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
              </div>
              <div class="time-item">
                <span class="time-label">{{ 'alert.center.last-time' | i18n }}:</span>
                <span class="time-value">{{ item.activeAt | date : 'yyyy-MM-dd HH:mm:ss' }}</span>
              </div>
            </div>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </nz-card>
</div>

<nz-pagination
  class="pagination"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  [nzShowSizeChanger]="true"
  [nzShowQuickJumper]="true"
  [nzShowTotal]="rangeTemplate"
  (nzPageIndexChange)="loadAlertsTable()"
  (nzPageSizeChange)="loadAlertsTable()"
></nz-pagination>

<ng-template #rangeTemplate let-range="range" let-total> {{ 'common.total' | i18n }} {{ total }} </ng-template>
