@import '@delon/theme/index';

.status-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.status-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 60%;
}

.status-banner{
  margin: 75px -15px 0 -15px;
  a {
    display: flex;
    justify-content:center;
    width: 100%;
    min-height:100px;
    max-height:350px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
  }
}

.status-logo {
  max-width: 100%;
  height: auto;
  border:0;
}

.status-content {
  width: 100%;
  max-width: 100%;
}

.org-status {
  width: 60%;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2.0rem;
  border: 4px;
  padding: 12px 14px;
  margin: 0 auto;
}

.component-status {
  width: 60%;
  margin: 10px auto;
  border: 1px solid #ccc;
}

.history_block {
  width: 2.33%;
  height: 60px;
  margin-right: 1%
}

.status-incident {
  margin: 20px auto 0 auto;
  width: 60%;
}
